<div class="container mt-4">
    <h2>Manage Users</h2>
    <div class="table-responsive">
        <table class="table table-striped mt-3" *ngIf="users.length">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td>{{user.id}}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.gender }}</td>
                <td>
                    <button
                        class="btn btn-danger btn-sm"
                        (click)="deleteUser(user.id)"
                    >
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <p *ngIf="!users.length">No users added yet.</p>
    </div>
</div>
